.wrapper
    .mainlogo
        .container
            header
                nav.navbar.navbar-expand-lg.d-flex.justify-content-between.navbar-dark
                    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    #navbarNav.menu.collapse.navbar-collapse(style="justify-content: space-between")
                        h1 Олександр Ісаєв
                        ul.navbar-nav  
                            li
                                a.bi.bi-instagram(href="https://www.instagram.com/olexandrisaev/?hl=uk") Instagram
                            li
                                a.bi.bi-facebook(href="https://www.facebook.com/olexandrisaiev/") Facebook
                            li
                                a.bi.bi-envelope(href="https://myaccount.google.com/?utm_source=OGB&tab=mk&utm_medium=act&gar=1") Gmail
                            li
                                a.bi.bi-telephone(href="tel:+38(093)2992877") Phone
                .together
                    .myphoto 
                        a(href="#")
                            img(src="https://raw.githubusercontent.com/OleksandrIsaev/Portfolio/master/src/img/logo.jpg", alt="Myphoto") 
                    .aboutme
                        p Добросовісний працівник який володіє англійською та польською мовами, компетентний та уважний. Закінчив курси програмування. Маю опит в страховій справі, готельному бізнесі, курьєрській роботі.  Маю багато корисного опиту. 
