.wrapper
    .education 
        h2 Освіта і кваліфікації
    ul.information
        li Базова загально середьна освіта<br>
            i Шкільна освіта.<br>
            a(href="#") Нвчально-виховний комплекс #6 м.Хмельницький, Хмельницький<br>
            b вер 2001 - чер 2010
        li Хореограф<br>
            i Хореограф (народно‑сценічного танцю).<br>
            a(href="#") Хмельницька дитяча школа мистецтв, Хмельницький<br>
            b гру 2003 - тра 2010
        li Середня освіта<br>
            a(href="#") Хмельницький торговельно-економічний коледж Київського <br>національного торговельно-економічного універ, Хмельницький<br>
            b вер 2010 - тра 2012
        li Молодший спеціаліст фінансист<br>
            a(href="#") Торговельно-економічний коледж Київського національного <br>університету фінанси і кредит, Хмельницький<br>
            b вер 2010 - чер 2013
        li Оператор комп'ютерного набору<br>
            a(href="#") Торговельно-економічний коледж Київського національного <br>університету, Хмельницький<br>
            b вер 2010 - кві 2013
        li Водій автотранспортних засобів<br>
            a(href="#") Хмельницький обласний спортивно-технічного клубу <br>Товариства сприяння оьороні України, Хмельницький<br>
            b тра 2014 - сер 2014
        li Бакалавр<br>
            i Філолог "Українська, російська, англійська, польська ".<br>
            a(href="#") Національна академія Державної пиикордонної служби України <br>ім.Богдана Хмельницького, Хмельницький<br>
            b вер 2013 - чер 2017
        li Практика<br>
            a(href="#") Програма Work and travel: USA (Virginia,New York)<br>
            b тра 2014 - лис 2014
        li Магістр<br>
            i Отримав магістра філолога англійської мови<br>
            a(href="#") Хмельницька гуманітарно-педагогічна академія, Хмельницькийм<br>
            b вер 2017 - січ 2019
        li Підвищення кваліфікації<br>
            i Проходив курси підвищення кваліфікації "технік інформатик"<br>
            a(href="#") "Nova" policealna Szkoła zawadowa, Краків<br>
            b жов 2018 - тра 2019
        li Страховий агент<br>
            i Підвищував знання Польської мови, був страховим агентом.<br>
            a(href="#") PZU страхова агенція, Краків<br>
            b січ 2019 - тра 2019
        li Курьєр<br>
            i Працював курьєром по доставці товару.<br>
            a(href="#") Dpd курьєрська фірма, Краків<br>
            b чер 2019 - тра 2020
        li Курси<br>
            i HTML5 CSS PHP SASS PUG Адаптив,<br> уся можлива робота з таблицями, мейлами. <br>
            a(href="#") Програмування Front-end<br>
            b вер 2020 - квіт 2021
